/* table of contents    line
1. General styles       6 - 29
2. Nav bar              32 - 63
3. carousel             68 - 76
4. display items        80 - 110
5. grid                 113 - 150
6. pager break          156 - 167
7. section grid         173 - 203
8. ambasadors           208 - 213
9. newsletter           218 - 240
10. footer              245 - end
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #fafafa;
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.mySlides {
  display: none;
}

/* navigation bar */
.padding {
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.width {
  width: 33.333%;
}

/* nav links */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* login and cart details */
.user-details {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-details svg {
  margin-left: 0.25em;
}

.user-details a:nth-of-type(2) {
  margin-left: 4em;
}

/* nav-bar ends */

.mob_ham {
  display: none;
}

.d_none {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .user-details {
    display: none;
  }
  .mob_view {
    display: flex;
    flex-direction: column;
  }
  .mob_ham {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #f7f7f7;
  }
  .mob_menu {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 210px;
    z-index: 999;
    right: 3px;
    background-color: #f7f7f7;
    border: beige;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 5px 5px 4px rgb(136 136 136 / 30%);
    margin-top: 2rem;
    padding: 1.5rem;
    position: absolute;
  }
  .mob_menu-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .user-detail_mob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mob_login {
    display: flex;
    flex-direction: row-reverse;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .mob_login svg {
    align-items: right;
    margin-right: -7rem;
  }

  .mob_menu-card_a p {
    text-align: right;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
/* carousel */
.mySlides img {
  vertical-align: middle;
  position: relative;
  object-fit: cover;
  border-radius: 15px;
}

/* Slideshow container */
.slideshow-container {
  border-radius: 15px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.body-margin {
  margin: 4rem 1rem;
}

/* carousel ends */

/* ecom__grid-frist */
.Ecom__grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
}
.Ecom__grid-first {
  border: 1px solid rebeccapurple;
}
.btn-bg {
  padding: 1rem;
  border-radius: 1em;
  background-color: #f9f871;
  width: 45%;
}

/* Grid */
.item-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.grid-card {
  width: 22.5%;
  margin: 0.8em;
  background-color: #fafafa;
  border-radius: 7px;
  box-shadow: 0 5px 5px 4px rgba(136, 136, 136, 0.3);
}

.grid-info > * {
  margin: 0.5em;
}

.grid-img {
  display: flex;
  justify-content: center;
}
.user-action {
  display: flex;
  justify-content: space-between;
  margin: 1.3em 0.5em;
}

.cart {
  background: rgba(249, 248, 113, 0.47);
  padding: 0.5em;
  border-radius: 0.5em;
  align-self: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.user-action button {
  cursor: pointer;
  background-color: #f9f871;
}

/* Grid ends */

/* page-break */
.page-break {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 3em;
}

.page-break hr {
  width: 42%;
  color: #e5e5e5;
}

/* page-break ends*/

/* section grid */
.section {
  display: flex;
  justify-content: space-around;
}

.sections {
  width: 29%;
}

.sections > * {
  margin: 1em 0;
}

.sections > h2 {
  margin: 0.5em 0;
  font-weight: 600;
}

.sections > p {
  font-size: 0.8em;
}

.sections > a {
  padding: 0.5em;
  border: 1px solid black;
  background: #c4c4c4;
}

.grid-margin {
  margin: 0.5em;
}

/* Section grid ends */

/* ambassadors */
.ambassadors {
  display: flex;
  justify-content: space-around;
  margin: 4em;
}

/* ambassadors ends*/

/* newsletter */
.newsletter {
  display: flex;
  align-items: center;
  padding: 2em;
  width: 80%;
  margin: 0 auto;
  background-color: #eed9c8;
  border-radius: 1em;
}

.letter-text {
  width: 50%;
}

.form {
  width: 50%;
}

.letter-text > *,
.form {
  margin: 1em;
}

/* newsletter ends */

/* footer */
.store-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5em;
  padding: 3em;
  background-color: #f3c5ff;
}

.info {
  width: 50%;
}

.info > * {
  margin: 1.5em;
}

.about-us {
  display: flex;
  flex-direction: column;
}

/* footer ends */

@media only screen and (max-width: 500px) {
  .grid-card {
    width: 40%;
  }
  .user-action > a {
    font-size: 14px;
  }
  .user-action button > svg {
    width: 15px;
    height: 15px;
  }
}
